* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --random-background-color: white;
}

html, body {
    /*background-color: var(--random-background-color);*/
    /*background-color: black;*/
    width: 100%;
    padding: 0px;
    margin: 0px;
}

header {
    /*display: block;*/
    display: block;
    position: fixed;
    top: 0px;
    height: 150px;
    /*max-height: 15%;*/
    width: 100%;
    margin: 0px;
    padding: 10px 5%;
    z-index: 500;
    /*background-color: var(--random-background-color);*/
    background-color: yellow;
}

#cait0_logo {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: orange;
}

.text-container {
    /*display: block;*/
    display: block;
    position: relative;
    width: 90%;
    margin: auto;
    background-color: blue;
}

.text-container:nth-of-type(1) {
    margin-top: 160px;
    background-color: red;
}

p {
    font-family: 'Nanum Gothic Coding', monospace;
    font-style: normal;
    font-weight: 300;
    text-align: left;
    font-size: 16px; /* fallback */
    font-size: 3.2vw;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: white;
}

#passport-image {
    width: 45%;
    height: auto;
    float: left;
    margin: 0px 15px 15px 0px;
    /*border: 1.5px solid black;*/
    filter: drop-shadow(-5px -5px black);
}


/* IMAGE CAROUSEL */

#slideshow-container {
    position: relative;
    display: block;
    width: 90%;
    height: 0;
    padding-bottom: 67.5%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    
    /* BORDERS CURRENTLY PUSHING SLIDESHOW OUT OF ITS PLACE
    border: 1.5px solid black;*/
    
}

#slideshow {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0px;
    background-image: url(Images/image_sprite.jpg);
    background-repeat: no-repeat;
    /*background-position: -500px;*/
    background-position: 12.5%;
    background-size: 900%;
    /*filter: drop-shadow(-4px -4px);*/
}

#leftArrow {
    width: 60px;
    position: absolute;
    left: 10px;
    bottom: -80px;
    z-index: 1;
}

#rightArrow {
    width: 60px;
    position: absolute;
    right: 10px;
    bottom: -80px;
    z-index: 1;
}

#playPauseButton {
    height: 80px;
    position: absolute;
    bottom: -90px;
    left: 50%;
    margin-left: -40px;
}

/*NEXT KEYFRAMES*/

@keyframes next-image-one {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: -500px 0px;
    } 
}

@keyframes next-image-two {
    from {
        background-position: -500px 0px;
    }
    to {
        background-position: -1000px 0px;
    }
}

@keyframes next-image-three {
    from {
        background-position: -1000px 0px;
    }
    to {
        background-position: -1500px 0px;
    }
}

@keyframes next-image-four {
    from {
        background-position: -1500px 0px;
    }
    to {
        background-position: -2000px 0px;
    }
}

@keyframes next-image-five {
    from {
        background-position: -2000px 0px;
    }
    to {
        background-position: -2500px 0px;
    }
}

@keyframes next-image-six {
    from {
        background-position: -2500px 0px;
    }
    to {
        background-position: -3000px 0px;
    }
}

@keyframes next-image-seven {
    from {
        background-position: -3000px 0px;
    }
    to {
        background-position: -3500px 0px;
    }
}


/* PREVIOUS KEYFRAMES */
@keyframes prev-image-one {
    from {
       background-position: -1000px 0px;
    }
    to {
        background-position: -500px 0px;
    }
}

@keyframes prev-image-two {
    from {
       background-position: -1500px 0px;
    }
    to {
        background-position: -1000px 0px;
    }
}

@keyframes prev-image-three {
    from {
       background-position: -2000px 0px;
    }
    to {
        background-position: -1500px 0px;
    }
}

@keyframes prev-image-four {
    from {
       background-position: -2500px 0px;
    }
    to {
        background-position: -2000px 0px;
    }
}

@keyframes prev-image-five {
    from {
       background-position: -3000px 0px;
    }
    to {
        background-position: -2500px 0px;
    }
}

@keyframes prev-image-six {
    from {
       background-position: -3500px 0px;
    }
    to {
        background-position: -3000px 0px;
    }
}

@keyframes prev-image-seven {
    from {
       background-position: -4000px 0px;
    }
    to {
        background-position: -3500px 0px;
    }
}


/* LINKS */

#linkContainer {
    display: flex;
    position: static;
    width: 350px;
    height: 50px;
    margin: 40px auto 40px auto;
    justify-content: space-between;
}

#linkContainer > div {
    flex-basis: auto;
    position: relative;
}

.link {
    width: 50px;
    margin: auto;
    position: relative;
    opacity: 0.8;
}

#freecodecamp {
    width: 65px;
    top: 50%;
    margin-top: -23px;
}

/* RESPONSIVE SETTINGS */
