@media only screen and (min-width:600px) {
    
    header {
        height: 20vh;
    }
    
    #cait0_logo {
        height: 12.5vh;
        max-width: 70vw;
        max-width: 400px;
    }
    
    .text-container {
        width: 70vw;
        margin-bottom: 0;
    }
    
    .text-container:nth-of-type(1) {
        margin-top: 25vh;
    }
    
    p {
        font-size: 1em;
    }
    
    .date {
        font-size: 1.2em;
    }
    
    #passport-image {
        width: 37.5vw;
        max-width: 275px;
        height: auto;
        margin: 0 -3em 0.4em 0em;
        position: relative;
        top: 0.3em;
        left: -4em;
    }
    
    #childhood-image {
        width: 45vw;
        /*display: block;*/
        position: relative;
        float: right;
        top: 0.3em;
        right: -4em;
        margin: 0 0 0.4em -3em;
        /*margin: 1em auto 1em auto;*/
    }
    
    @media only screen and (min-width:850px) {
        
        #childhood-image {
            width: 40vw;
        }
        
        #passport-image {
            width: 32vw; 
        }
        
        .first::first-letter {
            margin-left: 4vw;
        }
        
    }
 
    #slideshow-container {
        width: 70vw;
        padding-bottom: 52.5vw; /* SLIDE IS INSIDE PADDING - 3/4 RATIO*/
        margin-top: 2em;
        margin-bottom: 14vw;

    }
    
    #leftArrow {
        width: 9vw;
        left: -11vw;
        margin-left: 0;
        top: 50%;
        margin-top: -4.5vw;
    }
    
    #rightArrow {
        width: 9vw;
        right: -11vw;
        margin-right: 0;
        top: 50%;
        margin-top: -4.5vw;
    }
    
    #playPauseButton {
        width: 9vw;
        margin-left: -4.5vw;
        bottom: -11vw
    }
    
    #linkContainer {
        width: 40vw;
        height: 20vw;
        margin: 0vw auto 0vw auto;
    }

    .link {
        width: 6vw;
        margin-top: -4vw;
    }
    
}