@media only screen and (min-width:1024px) {
    
    header {
        height: 20vh;
    }
    
    #cait0_logo {
        height: 12.5vh;
        max-width: 50vw;
    }
    
    .text-container {
        width: 50vw;
    }
    
    #passport-image {
        width: 25vw;
    }
    
    #childhood-image {
        width: 35vw;
    }
    
    #slideshow-container {
        width: 50vw;
        padding-bottom: 37.5vw; /* SLIDE IS INSIDE PADDING - 3/4 RATIO*/
        margin-bottom: 9vw;
    }
    
    #leftArrow {
        width: 7vw;
        left: -8vw;
        margin-top: -3vw;
    }
    
    #rightArrow {
        width: 7vw;
        right: -8vw;
        margin-top: -3vw;
    }

    #playPauseButton {
        width: 7vw;
        margin-left: -3.5vw;
        bottom: -8vw
    }

    #linkContainer {
        width: 30vw;
        height: 10vw;
        margin: 0vw auto 0vw auto;
    }

    .link {
        width: 5vw;
        margin-top: -3vw;
    }
    
}