* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --random-background-color: white;
}

html, body {
    background-color: var(--random-background-color);
    margin: 0;
    padding: 0;
    width: 100vw;
    font-size: 10px;
}

body {
    margin-top: 200px;
}

header {
    display: block;
    position: fixed;
    top: 0px;
    height: 200px;
    width: 100%;
    background-color: var(--random-background-color);
    z-index: 5;
}

#cait0_logo {
    position: absolute;
    width: 300px;
    height: auto;
    top: 50%;
    margin-top: -44px;
    left: 50%;
    margin-left: -150px;
}

.text {
    width: 600px;
    margin: auto;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 300;
    line-height: 1.7;
    text-align: left;
    letter-spacing: 0.5px;
}

#passportImage {
    width: 350px;
    float: left;
    margin: 10px 30px 20px -150px;
    border: 1.5px solid black;
    filter: drop-shadow(4px 4px)
}



/* IMAGE CAROUSEL */
#slideshowContainer {
    height: 375px;
    width: 500px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 120px;
    
    /* BORDERS CURRENTLY PUSHING SLIDESHOW OUT OF ITS PLACE
    border: 1.5px solid black;
    filter: drop-shadow(4px 4px);
    */
    
}

#slideshow {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0px;
    background-image: url(Images/image_sprite.jpg);
    background-repeat: no-repeat;
    background-position: -500px;
    background-size: cover;
}



/*NEXT KEYFRAMES*/

@keyframes next-image-one {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: -500px 0px;
    } 
}

@keyframes next-image-two {
    from {
        background-position: -500px 0px;
    }
    to {
        background-position: -1000px 0px;
    }
}

@keyframes next-image-three {
    from {
        background-position: -1000px 0px;
    }
    to {
        background-position: -1500px 0px;
    }
}

@keyframes next-image-four {
    from {
        background-position: -1500px 0px;
    }
    to {
        background-position: -2000px 0px;
    }
}

@keyframes next-image-five {
    from {
        background-position: -2000px 0px;
    }
    to {
        background-position: -2500px 0px;
    }
}

@keyframes next-image-six {
    from {
        background-position: -2500px 0px;
    }
    to {
        background-position: -3000px 0px;
    }
}

@keyframes next-image-seven {
    from {
        background-position: -3000px 0px;
    }
    to {
        background-position: -3500px 0px;
    }
}


/* PREVIOUS KEYFRAMES */
@keyframes prev-image-one {
    from {
       background-position: -1000px 0px;
    }
    to {
        background-position: -500px 0px;
    }
}

@keyframes prev-image-two {
    from {
       background-position: -1500px 0px;
    }
    to {
        background-position: -1000px 0px;
    }
}

@keyframes prev-image-three {
    from {
       background-position: -2000px 0px;
    }
    to {
        background-position: -1500px 0px;
    }
}

@keyframes prev-image-four {
    from {
       background-position: -2500px 0px;
    }
    to {
        background-position: -2000px 0px;
    }
}

@keyframes prev-image-five {
    from {
       background-position: -3000px 0px;
    }
    to {
        background-position: -2500px 0px;
    }
}

@keyframes prev-image-six {
    from {
       background-position: -3500px 0px;
    }
    to {
        background-position: -3000px 0px;
    }
}

@keyframes prev-image-seven {
    from {
       background-position: -4000px 0px;
    }
    to {
        background-position: -3500px 0px;
    }
}



#leftArrow {
    height: 60px;
    position: absolute;
    left: -65px;
    top: 50%;
    margin-top: -30px;
    z-index: 1;
}

#rightArrow {
    height: 60px;
    position: absolute;
    right: -65px;
    top: 50%;
    margin-top: -30px;
    z-index: 1;
}

#playPauseButton {
    height: 80px;
    width: auto;
    position: absolute;
    top: 390px;
    left: 50%;
    margin-left: -40px;
}